@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Navigation*/
nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
}

ul{
    font-family: 'EB Garamond', serif;
    display: flex;
    flex-direction: row;
    list-style: none;
    /*gap: 2rem;*/
    color: white;
    font-size: 15px;
    align-items: center;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    
    color: black;
}

ul li:hover ul.dropdown{
    display: block;
}

.logo{
    width: 50px;
    height: auto;
}

/*Head*/
.Head-purchase{
    background-color: #1a7ac999;
    color: black;
    text-align: center;
    font-size: larger;
}

.donate{
    margin-left: 35%;
}

.donate-abc{
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding-top: 60px;
}
.donate-def{
    width: 600px;
    height: 400px;
    padding: 24px;
    margin-left: 100px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: .6s ease-out;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.donate-def:hover{
    transform: translateY(15px);
}
.donate-def:before{
    opacity: 1;
}
.donate-def:hover .donate-dis{
    opacity: 1;
    transform: translateY();
}
.donate-def::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 18;

}
.donate-abc .donate-def img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 10%;
}

.donate-abc .donate-def .donate-dis{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 1;
    transform: translateY(60px);
    transition: 0.5s;
    padding-bottom: 50px;
    font-weight: bold;
}
.donate-abc .donate-def .donate-dis h2{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
    color: rgb(11, 198, 255);
    font-size: 20px;
    width: bold;

}
.donate-abc .donate-def .donate-dis p{
    letter-spacing: 4px;
    font-size: 15px;
    margin-top: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 10PX;
}

.gallary1 .container{
    width: 100%;
    text-align: center;
    padding-top: 1px;
}
.gallary1 .container h1{
    font-weight: normal;
    font-size: 50px;
    position: relative;
    margin: 40px 0;
    letter-spacing: 10PX;
}

.gallary1 .container h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgb(18, 15, 216);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 2.6s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }}


    .gallary .donet-box form .row{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 10px;
      
    }
    
    .gallary .donet-box form .row .col{
        flex:1 1 250px;
    }
    
    .gallary .donet-box form .row .col .title{
        font-size: 20px;
        color: #333;
        padding-bottom: 5px;
        text-transform: uppercase;
    }
    .gallary .donet-box form .row .col .inputbox{
        margin: 15px 0;
    }
    .gallary .donet-box form .row .col .inputbox span{
        margin-bottom: 10px;
        display: block;
    }
    
    .gallary .donet-box form .row .col .inputbox input{
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px 15px;
        font-size: 15px;
        text-transform: none;
    
    }
    
    .gallary .donet-box form .row .col .inputbox input:focus{
        border: 1px solid #000;
    
    }
    
    .gallary .donet-box form .row .col .flex{
        display: flex;
        gap: 15px;
    }
    .gallary .donet-box form .row .col .flex .inputbox{
        margin-top: 10px;
    }
    
    .gallary .donet-box form .row .col .inputbox img{
        height: 34px;
        margin-top: 5px;
        filter: drop-shadow(0 0 1px #000);
    }
    .gallary .donet-box form .submit-buttn{
        width: 100%;
        padding: 12px;
        font-size: 17px;
        background: rgb(1, 19, 31);
        color: #fff;
        margin-top: 5px;
        cursor: pointer;
        border-color: #fff;
    }
    .gallary .donet-box form .submit-buttn:hover{
        background-color: rgb(84, 184, 209);
    }
    
    .gallary .donet-box{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: none;
        padding-top: 0;
    }
    .gallary .donet-box form{
        padding-left: 20px;
        padding-right: 28px;
        width: 800px;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding-top: 0;
        margin: 0;
    
    }

    /*donate and purchasing things*/

    

    .sup .sup-item h3{
        text-align: center;
        font-size: 30px;
        margin: 0;
        padding-top: 10px;
    }

    .sup{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 0;
        padding-top: 0px;
    }

    .sup .sup-item{
        width: 20%;
        margin: 15px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        padding-top: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25);
        transition: .4s;
        background: #f2f2f2;

    }

    .sup .sup-item:hover{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        transform: translate(0px, -8px);
    }

    .sup .sup-item img{
        width: 300px;
        height: 200px;
        text-align: center;
        margin: 0 auto;
        display: block;
        border-radius: 5%;
    }


.sup .sup-item h5{
    padding-top: 2px;
    font-size: 26px;
    text-align: center;
    color: #0070a6;
    margin: 0;
}

.sup .sup-item ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.sup .sup-item ul li{
    padding: 5px;
}

.sup .sup-item ul li .fa{
    font-size: 26px;
    transition: .4s;
   
}

.sup .sup-item ul li .fa:hover{
    transform: scale(1.3);
    transition: .6s;
}

.sup-item button:hover{
    transform: scale(1.2);
    transition: .10s;
}
.checked{
    color: #ff9f43;
}

.sup-item button{
    text-align: center;
    font-size: 24px;
    color: #def7fc;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.sup-item .sup-item1{
    background-color: #0070a6;
}

.sup-item .sup-item2{
    background-color: #0070a6;
}

.sup-item .sup-item3{
    background-color: #0070a6;
}

.sup-item .sup-item4{
    background-color:#0070a6 ;
}

@media(max-width:1000px){
    .sup .sup-item{
        width: 45%;
    }
}
@media(max-width:750px){
    .sup .sup-item{
        width: 100%;
    }
}

.top{
    text-align: center;
    letter-spacing: 4px;
    font-size: 20px;
    padding-bottom: 30px;
    color: #000;
}
    
/*Footer*/
.foot{
    background-color: #d6d4d4;
    background-repeat:no-repeat;
    background-size:cover;
    color:rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    margin-top: 3%; 
}

 /*Positioning the references*/
 .reference{
     display: grid;
     padding: 10px;
 }    



