@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Navigation*/
nav{
    background-color: #574f438a;
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
}

ul{
    font-family: 'EB Garamond', serif;
    font-style: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    /*gap: 2rem;*/
    color: wheat;
    font-size: 15px;
    align-items: center;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background: #a4a099;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    /*background: #000;*/
    color: black;
}

ul li:hover ul.dropdown{
    display: block;
}

.logo{
    width: 50px;
    height: auto;
}

/*Head*/
.Head-threats{
    background-color: #00008b;
    color: #ffffffc2;
    height: 400px;
    padding: 20px;
    background:  linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)) , url(../Assets/turtle\ 12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: larger;
    font-family: 'Josefin Sans', sans-serif;
}

/*Threats photo and information*/
.Fisher-Bycatch{
    width:30rem;
    height:20rem;
}

.fisher-bycatch p {
    position: absolute;
    top: 85%;
    padding-left: 35%;
    padding-right: 1%;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Nixie One', cursive;
    font-size: small;
   
}

.fisher-bycatch h2{
    position: absolute;
    top: 80%;
    padding-left: 35%;
    font-family: 'Playfair', serif;
}

.Coastal-Development{
    width:30rem;
    height:20rem;
}

.coastal-development p {
    position: absolute;
    top: 135%;
    padding-left: 35%;
    padding-right: 1%;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Nixie One', cursive;
    font-size: small;
   
}

.coastal-development h2{
    position: absolute;
    top: 130%;
    padding-left: 35%;
    font-family: 'Playfair', serif;
}

.Pollution-Pathogens {
    width:30rem;
    height:20rem;
}

.pollution-pathogens p {
    position: absolute;
    top: 175%;
    padding-left: 35%;
    padding-right: 1%;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Nixie One', cursive;
    font-size: small;
   
}

.pollution-pathogens h2{
    position: absolute;
    top: 170%;
    padding-left: 35%;
    font-family: 'Playfair', serif;
}

.Direct-Take {
    width:30rem;
    height:20rem;
}

.direct-take p {
    position: absolute;
    top: 225%;
    padding-left: 35%;
    padding-right: 1%;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Nixie One', cursive;
    font-size: small;
   
}

.direct-take h2{
    position: absolute;
    top: 220%;
    padding-left: 35%;
    font-family: 'Playfair', serif;
}

.Climate-Change {
    width:30rem;
    height:20rem;
}

.climate-change p {
    position: absolute;
    top: 272%;
    padding-left: 35%;
    padding-right: 1%;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Nixie One', cursive;
    font-size: small;
   
}

.climate-change h2{
    position: absolute;
    top: 268%;
    padding-left: 35%;
    font-family: 'Playfair', serif;
}

/*Footer*/
.foot{
    background-color: #d6d4d4;
    background-repeat:no-repeat;
    background-size:cover;
    color:rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    margin-top: 0%;
}

 /*Positioning the references*/
 .reference{
     display: grid;
     padding: 10px;
 }


  
  
  
  
  


